<div class="dv">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="./products" routerLinkActive="active"
            >Products
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="./reactivereviewform"
            routerLinkActive="active"
            >Reactive Review Form
          </a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li
        class="nav-item active"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onLogOut()"
      >
        <a class="nav-link">
          <i class="bi bi-box-arrow-left hvr fa-2x"></i> LOG OUT
        </a>
      </li>
    </ul>
  </nav>
</div>
