<section class="vh-100 p-4">
  <div class="container-fluid h-custom p-4">
    <div
      class="row d-flex justify-content-center align-items-center h-100 p-4 m-4"
    >
      <div class="col-md-9 col-lg-6 col-xl-5 p-3 m-2">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="AuthForm" (submit)="OnSubmit()">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              formControlName="email"
              placeholder="Enter a valid email address"
            />
            <label class="form-label" for="form3Example3">Email address</label>

            <div
              class="text-danger"
              *ngIf="email.errors?.['required'] && email?.touched"
            >
              Please fill the required fields
            </div>
            <div
              class="text-danger"
              *ngIf="email.errors?.['mailValid'] && email.touched && email.dirty"
            >
              Incorrect format , pelase use '@'
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              formControlName="password"
              placeholder="Enter password"
            />
            <label class="form-label" for="form3Example4">Password</label>
            <div
              class="text-danger"
              *ngIf="!password.valid && password?.touched"
            >
              Please fill the required fields
            </div>
          </div>

          <div *ngIf="ErrorMsg !== ''">
            <p class="text-danger myerror">{{ this.ErrorMsg }}</p>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <a href="#!" class="link-primary">Register</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
